.bg {
  height: 100%;
  background-image: url("../images/bg.png");
  display: flex;
  background-size: cover;
  justify-content: center;
  min-height: 100vmin;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  margin: 0;
}

.form {
  color: white;
  width: 20%;
  position: absolute;
  top: 20%;
  left: 40%;
  height: 40vh;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
}