.app-side {
    margin: 0;
    width: 230px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
    background: #ffffff;
  }


.app-side {
  border-right: 1px solid rgb(128, 128, 128,0.2);
  height: 100%;
}

.menu{
  margin-top: 10px;
}
