.profile-image{
    position: relative;
    height: 64px;
    margin: auto 5px;
    box-sizing: border-box;
    border-right: 1px solid rgb(128, 128, 128,0.2);
    text-decoration: none;
    display: inline-block;
    color: white;
}
.profile-image:hover{
    color: aqua;
}
.login-user .profile-image img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 48px;
    margin-right:5px ;
    border: 1px solid white;
}
.login-user{
    float: right;
    right: 0;
    /* text-align: center; */
}
.profile-name{
    margin-right:5px ;
    text-decoration: none;
}
